@media only screen and (min-width: 32rem) {
    .menu-list {
        display: none;
    }

    #space {
        display: block;
        font-size: x-large;
        margin-right: auto;
        /* font-size: larger; */
        /* color: white; */
    }

    #space a {
        color: saddlebrown;
        font-size: larger;
    }

    #space a:hover {
        text-decoration: none;
        font-weight: 100;
    }

    .navigation {
        display: flex;
        justify-content: right;
    }
}